<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <system.serviceModel>
    <bindings>
      <webHttpBinding>
        <binding name="WebHttpBinding_IEmployeeService" />
      </webHttpBinding>
    </bindings>
    <client>
      <endpoint address="http://localhost:64014/EmployeeService.svc"
                binding="webHttpBinding"
                bindingConfiguration="WebHttpBinding_IEmployeeService"
                contract="IEmployeeService"
                name="WebHttpBinding_IEmployeeService">
        <identity>
          <dns value="localhost" />
        </identity>
      </endpoint>
    </client>
    <behaviors>
      <endpointBehaviors>
        <behavior name="webHttpBehavior">
          <webHttp />
        </behavior>
      </endpointBehaviors>
    </behaviors>
  </system.serviceModel>
</configuration>